<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.project.info.InfoMapper">
	<resultMap type="com.care.project.info.InfoDTO" id="infoDTO">
		<id column="no" property="no"/>
		<result column="category" property="category"/>
		<result column="name" property="name"/>
		<result column="address" property="address"/>
		<result column="home_page" property="homePage"/>
		<result column="mobile" property="mobile"/>
	</resultMap>

	<select id="InfoData" resultMap="infoDTO">
		<choose>
			<when test="select == 'category'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, category, name, address, home_page,mobile 
				FROM project_info WHERE category like ('%' ||  #{search} || '%')AND category =#{category})AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<when test="select == 'name'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, category, name, address, home_page, mobile 
				FROM project_info WHERE name like ('%' ||  #{search} || '%')AND category =#{category})AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<when test="select == 'address'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, category, name, address, home_page, mobile 
				FROM project_info WHERE address like ('%' ||  #{search} || '%')AND category =#{category})AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<when test="select == 'mobile'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, category, name, address, home_page, mobile 
				FROM project_info WHERE mobile like ('%' ||  #{search} || '%')AND category =#{category})AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<otherwise>
			SELECT AAA.*FROM 
			(SELECT rownum as rn, category, name, address, home_page, mobile
             FROM project_info WHERE (category like ('%' ||  #{search} || '%') or name like ('%' ||  #{search} || '%') or
                 address like ('%' ||  #{search} || '%') or mobile like ('%' ||  #{search} || '%'))
                  AND category =#{category}) AAA WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</otherwise>
		</choose>
	</select>
	
	<select id="hoscount">
		<choose>
			<when test="select == 'category'">
	  			SELECT count(name) FROM project_info WHERE category like ('%' ||  #{search} || '%')
	  		</when>
	  		<when test="select == 'name'">
	  			SELECT count(name) FROM project_info WHERE name like ('%' ||  #{search} || '%')
	  		</when>
	  		<when test="select == 'address'">
	  			SELECT count(name) FROM project_info WHERE address like ('%' ||  #{search} || '%')
	  		</when>
	  		<when test="select == 'mobile'">
	  			SELECT count(name) FROM project_info WHERE mobile like ('%' ||  #{search} || '%')
	  		</when>
	  		<otherwise>
	  		SELECT count(category) FROM project_info WHERE category like ('%' ||  #{search} || '%') or
	  			name like ('%' ||  #{search} || '%') or address like ('%' ||  #{search} || '%') or 
	  			mobile like ('%' ||  #{search} || '%')
	  		</otherwise>
		</choose>
	</select>
	
	<select id="minfoCheck">
		SELECT * from project_info
	</select>
	
	<select id="hosinfoCheck">
		SELECT count(no) FROM project_info  WHERE category='동물병원'
	</select>
	
	<!-- <insert id="insertInfo">
		<selectKey order="BEFORE" keyProperty="no" resultType="int">
			SELECT nvl(max(no),0) + 1 FROM project_info
		</selectKey>
		INSERT INTO project_info VALUES(#{no}, #{subjectCategory}, #{title}, #{venue}, #{reference}, #{source})
	</insert>
	
	<select id="ainfoData" resultMap="infoDTO">
		SELECT * FROM project_info WHERE name=#{name} AND category=#{category} AND address=#{address}
	</select>
	
	<update id="ainfoUpdateProc">
		UPDATE project_info SET category=#{category}, name=#{name}, address=#{address}, mobile=#{mobile}, home_page=#{homePage} WHERE no=#{no}
	</update>
	
	<delete id="ainfoDelete">
		DELETE FROM project_info WHERE no=#{no}
	</delete>	
			
	<update id="ainfoNoUpdate">
		UPDATE project_info SET no = no - 1 WHERE no >= #{no}
	</update -->
</mapper>