<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- <mapper>가 없을시 Error creating bean with name 'sessionFactory' 
  defined in ServletContext resource 발생 -->
  
<mapper namespace="com.care.dbQuiz.repository.MemberMapper">
	<!-- DB의 id는  resultMap를 통해 memberDto id에 매칭된다. -->
  	<resultMap type="com.care.dbQuiz.controller.MemberDTO" id="memberDto">
  		<id column="id" property="id"/>
  		<result column="pw" property="pw"/>
  		<result column="user_name" property="userName"/>
  		<result column="address" property="address"/>
  		<result column="mobile" property="mobile"/>
  	</resultMap>
	<select id="login" resultMap="memberDto">
		SELECT * FROM session_quiz WHERE id=#{id}
	</select>
	
	<insert id="register" parameterType="com.care.dbQuiz.controller.MemberDTO">
		INSERT INTO session_quiz VALUES(#{id}, #{pw}, #{userName}, #{address}, #{mobile})
	</insert>
	
	<select id="list" resultMap="memberDto">
		<choose>
			<when test="select == 'id'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, id, pw, user_name, address, mobile 
				FROM session_quiz WHERE id like '%'||#{search}||'%')AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<when test="select == 'mobile'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, id, pw, user_name, address, mobile 
				FROM session_quiz WHERE mobile like '%'||#{search}||'%')AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<otherwise>
				SELECT AAA.* FROM 
				(SELECT rownum as rn, id, pw, user_name, address, mobile 
				FROM session_quiz )AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</otherwise>
		</choose>
	</select>
	<select id="count" >
		<choose>
			<when test="select == 'id'">
				SELECT count(id) FROM session_quiz WHERE id like '%'||#{search}||'%'
			</when>
			<when test="select == 'mobile'">
				SELECT count(id) FROM session_quiz WHERE mobile like '%'||#{search}||'%'
			</when>
			<otherwise>
				SELECT count(id) FROM session_quiz
			</otherwise>
		</choose>
	</select>
	
	<update id="update" parameterType="com.care.dbQuiz.controller.MemberDTO">
		UPDATE session_quiz SET pw=#{pw}, user_name=#{userName}, address=#{address}, mobile=#{mobile} WHERE id=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM session_quiz WHERE id=#{id}
	</delete>
	
</mapper>
