<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.project.site.SiteMapper">

	<select id="siteInfo">
		SELECT content FROM project_site WHERE category=#{category}
	</select>
	
	<update id="siteUpdate">
		UPDATE project_site SET content=#{content} WHERE category=#{category}
	</update>
</mapper>







  