@charset "UTF-8";

	.member {font-family: 'Poor Story';}
	.member a{text-decoration: none; color:black; position: relative;}
	.memberItem{width: 300px; height: 840px; border-right: 2px solid #000; float: left;
	text-align: center; padding-top:30px;}
	.memberItem h3{font-size: 26px; padding-bottom:30px; border-bottom: 2px solid #000;
	font-weight:bold;}
	.memberItem ul li{font-size: 22px; padding-top: 30px;}
	
	.header ul li:nth-child(3){font-size: 36px;}
	
	
	.memberMain{display: inline-block; width: 1500px; height: 600px; padding: 30px; text-align: center;}
	.memberTitle{height: 56px; border-bottom: 2px solid #000; }
	.memberTitle p{font-size: 24px; font-weight: bold; float: left; }
	.memberTitle ul{float:right;}
	.memberTitle ul li{display: inline-block; vertical-align: middle; padding-left: 10px;}
	
	.memberInfo{height: 650px;}
	.memberInfo table{margin:0 auto; font-size: 20px;}
	.memberInfo tr th:nth-child(1){width: 60px;}
	.memberInfo tr th:nth-child(3){width: 260px;}
	.memberInfo tr th:nth-child(4){width: 600px;}
	.memberInfo tr th:nth-child(5){width: 400px;}
	.memberInfo tr th:nth-child(6){width: 140px;}
	.memberInfo tr{border-bottom: 1px solid #000;}
	.memberInfo tr th{width: 120px; padding: 10px 0 10px 0;}
	.memberInfo tr td{padding: 10px 0 10px 0;}
	.memberInfo tr th:nth-child(7){width: 80px;}
	.memberInfo tr td:nth-child(7) input{display: inline-block; width: 20px; height: 20px;
	vertical-align: middle; margin:-10px 0 -5px 0;}
	
	.memberSearch{font-family: 'Poor Story'; font-size: 26px; }
	.memberSearch a{padding: 10px; display: inline-block;}
	
	.selectOption{vertical-align: middle; border: 2px solid #000; 
	height: 36px; width: 100px; font-family: 'Poor Story'; font-size: 18px;font-weight:bold;}
	.searchOption{border: 2px solid #000; border-right: 0;border-left: 0;  margin:-7px; height: 30px; width: 300px;font-family: 'Poor Story'; font-size: 18px;}
	.submitOption{vertical-align: middle; border: 2px solid #000; height: 36px; width: 100px;
	font-family: 'Poor Story'; font-size: 18px; background-color: #fcd11e;font-weight:bold;}
	.deleteOption{float: right; vertical-align: middle; border: 2px solid #000; height: 36px; width: 100px;
	font-family: 'Poor Story'; font-size: 18px; background-color: #fcd11e;font-weight:bold;
	margin-left: -100px;}

	.ainfo{font-size: 22px; margin: 0 auto; width: 50%;}
	.ainfo ul li{text-align: left; padding-top: 30px;}
	.ainfo ul li input{border: 2px solid #000; height: 25px; width: 600px;}
	.ainfo ul li span{display: inline-block; width: 100px;}
	.ainfoOption{vertical-align: middle; border: 2px solid #000; margin-left:-5px;;
	height: 36px; width: 100px; font-family: 'Poor Story'; font-size: 18px;font-weight:bold;}
	.infoButton{vertical-align: middle; border: 2px solid #000; height: 36px; width: 100px;
	font-family: 'Poor Story'; font-size: 18px; background-color: #fcd11e;font-weight:bold;
	margin-top: 30px;}