@charset "UTF-8";

/*header*/
#header{position:absolute; top:0; height:100px; width:100%; background:#fcd11e;}
.inner{ position:relative; bottom:20px; width:1200px;margin:0 auto; font-family: 'Poor Story', cursive; height:80px;}
.inner a{text-decoration:none; color:black;}
.inner ul{padding-top: 20px; height:100px;}
.inner ul li{display:inline-block; font-size:30px; vertical-align: middle;}
.inner img{width:100px; height:100px;}

.inner ul li:nth-child(n+2) a{padding:10px 50px 32px 50px;}

.inner ul li:first-child a:hover{border-bottom:0;}

.inner ul li a:hover{color:black; border-bottom:3px solid black;}