<<<<<<< HEAD
@charset "UTF-8";
.product-details {width: 1200px; margin: 0 auto; overflow: hidden; margin-top: 100px; font-family: 'Poor Story', cursive; margin-bottom: 100px;}

.shopInLeft{width: 700px; float: left;}
.shopInLeft > img {margin-left: 150px; }


.shopInRight {margin-top: 70px;}
=======
@charset "UTF-8";
.product-details {width: 1200px; margin: 0 auto; overflow: hidden; margin-top: 100px; font-family: 'Poor Story', cursive; margin-bottom: 100px;}

.shopInLeft{width: 700px; float: left;}
.shopInLeft > img {margin-left: 150px; }


.shopInRight {margin-top: 70px;}
>>>>>>> branch 'main' of https://github.com/phw0007/petCommunity.git
