@charset "UTF-8";
.userInfo {width: 1200px; overflow: hidden; margin: 0 auto; font-family: 'Poor Story', cursive;}
.petInfo {width: 500px; height:200px; float: left; overflow: hidden;  border-right: 1px solid #9a9a9a;}
.ownerInfo {width:680px; height:200px; float: right;}

.petInfo a{float: left;  margin-top: 25px; margin-right: 70px;}
.petInfo p span {margin-left: 10px;}
.petInfo2 h5{font-size: 18px; margin-left: 10px;}

.userInfo h1 {text-align: center; margin-top: 100px; margin-bottom: 100px;}

.ownerInfo {overflow: hidden; overflow: hidden;}
.ownerInfo h5 {font-size: 18px; padding-left: 60px;}
.ownerinfo ul li {list-style: none;}
.ownerLeft {float: left; margin-left: 30px; margin-right: 150px; margin-top: -1px;}
.ownerLeft li {margin-bottom: 20px;}
.ownerLeft li span {margin-left: 10px;}

.ownerRight li {margin-bottom: 20px;}
.ownerRight li span {margin-left: 10px;}


.infoButton button {margin-top: 80px; margin-bottom: 20px; background-color: #FFEDA1; width: 80px; height: 30px; border: 1px solid #000000; margin-right: 30px;}
.infoButton button:first-child {margin-left: 40px;}

.album h6{font-size: 20px;}
.album {margin-bottom: 100px;}

.out ul li{margin-bottom: 200px; list-style: none; margin-top: 40px; background-color: #FFEDA1; width: 120px; height: 25px; margin-left: -25px;  border: 1px solid #000000;}
.out ul li a {color:black; font-size: 20px; text-decoration: none; text-align: center;}









