<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.project.home.photoMapper">
   <resultMap type="com.care.project.home.photoDTO" id="photoDto">
      <id column="no" property="no"/>
      <result column="id" property="id"/>
      <result column="nickname" property="nickname"/>
      <result column="title" property="title"/>
      <result column="content" property="content"/>
      <result column="file_name" property="fileName"/>
      <result column="write_date" property="writeDate"/>
      <result column="hits" property="hits"/>
      <result column="likes" property="likes"/>
   </resultMap>

 <resultMap type="com.care.project.board.BoardDTO" id="BoardDto">
		<id column="no" property="no"/>
		<result column="id" property="id"/>
		<result column="category" property="category"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="file_name" property="fileName"/>
		<result column="write_date" property="writeDate"/>
		<result column="hits" property="hits"/>
		<result column="likes" property="likes"/>
		<result column="comment_content" property="commentContent"/>
		<result column="likeno" property="likeno"/>
		<result column="like_check" property="likeCheck"/>
		<result column="likes_id" property="likesId"/>
	</resultMap>
   
  <insert id="photoWriteProc">
     <selectKey order="BEFORE" keyProperty="no" resultType="int">
         SELECT nvl(max(no),0) + 1 FROM project_photo
      </selectKey>
      INSERT INTO project_photo VALUES(#{no}, #{id}, #{category}, #{title}, #{content}, #{fileName}, #{writeDate},0 ,0 )
  </insert>
   
   <select id="photo" resultMap="photoDto">
      SELECT * FROM project_photo WHERE no=#{no}
   </select>
   
   <select id="getAllPhotos" resultType="com.care.project.home.photoDTO">
      SELECT * FROM project_photo ORDER BY no DESC
    </select>
    
 

   <select id="photoData" resultMap="photoDto">
      <choose> 
         <when test="select == 'id'">
            SELECT AAA.* FROM 
            (SELECT rownum as rn, no, id, category, title, content, file_name
            , write_date, hits, likes FROM project_photo WHERE id like ('%' ||  #{search} || '%'))AAA 
            WHERE AAA.rn BETWEEN #{begin} AND #{end}
            ORDER BY no   DESC
         </when>
         <otherwise>
            SELECT AAA.* FROM 
            (SELECT rownum as rn, no, id, category, title, content, file_name
            , write_date, hits, likes FROM project_photo WHERE id like ('%' ||  #{search} || '%'))AAA 
            WHERE AAA.rn BETWEEN #{begin} AND #{end}
            ORDER BY no   DESC
         </otherwise>
      </choose>
   </select>
    <!-- fileName공백처리 올포토 파일네임만 여기서 똑바로 찾으면됨-->
   <select id="count">
      <choose>
           <when test="select == 'id'">
              SELECT count(id) FROM project_photo WHERE id like ('%' ||  #{search} || '%')
           </when>
           <otherwise>
              SELECT count(id) FROM project_photo WHERE id like ('%' ||  #{search} || '%')
           </otherwise>
      </choose>
   </select>
   
   <select id="photoContent" resultMap="photoDto">
		SELECT * FROM project_photo WHERE no=#{no}
	</select>
  
  <select id="homePhoto" resultMap="photoDto">
    SELECT no, id, title, file_name FROM project_photo
   ORDER BY no   DESC
</select>

 <select id="mainhomeboard" resultMap="BoardDto">
    SELECT AAA.* FROM 
		(SELECT rownum as rn, no, id, category, title, content, file_name
		, write_date, hits, likes FROM project_board)AAA WHERE AAA.rn BETWEEN #{begin} AND #{end}  
</select>

   
</mapper>








