<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.project.home.photoMapper">
	<resultMap type="com.care.project.home.photoDTO" id="photoDto">
		<id column="no" property="no"/>
		<result column="id" property="id"/>
		<result column="nickname" property="nickname"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="file_name" property="fileName"/>
		<result column="write_date" property="writeDate"/>
		<result column="hits" property="hits"/>
		<result column="likes" property="likes"/>
	</resultMap>

	
  <insert id="photoWriteProc">
  	<selectKey order="BEFORE" keyProperty="no" resultType="int">
			SELECT nvl(max(no),0) + 1 FROM project_photo
		</selectKey>
		INSERT INTO project_photo VALUES(#{no}, #{id}, #{category}, #{title}, #{content}, #{file_name}, #{write_date} )
  </insert>
	
	<select id="photo" resultMap="photoDto">
		SELECT * FROM project_photo WHERE no=#{no}
	</select>
	
	<select id="getAllPhotos" resultType="com.care.project.home.photoDTO">
      SELECT * FROM project_photo ORDER BY no DESC
    </select>
	 
<!--  	<select id="getAllImages" resultType="com.care.project.home.photoDTO">
        SELECT no, category, title, content, file_name, write_date FROM project_photo
    </select>
	-->
	
	<select id="getAllImages" resultType="com.care.project.home.photoDTO">
        SELECT * FROM project_photo
    </select>

	<!-- SELECT 문을 정의합니다. -->
     <select id="photoData" parameterType="map" resultType="com.care.project.home.photoDTO">
        SELECT *
        FROM project_photo
        WHERE category = #{select}
        AND (title LIKE '%' || #{search} || '%' OR content LIKE '%' || #{search} || '%')
        ORDER BY no DESC
        OFFSET #{begin} ROWS FETCH NEXT #{pageBlock} ROWS ONLY
    </select>

    <select id="count" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM project_photo
        WHERE category = #{select}
        AND (title LIKE '%' || #{search} || '%' OR content LIKE '%' || #{search} || '%')
    </select>

</mapper>









