<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.care.project.shop.CartMapper">
	<resultMap type="com.care.project.shop.CartDTO" id="cartDto">
		<id column="no" property="no"/>
		<result column="id" property="id"/>
		<result column="product" property="product"/>
		<result column="company" property="company"/>
		<result column="pay" property="pay"/>
		<result column="image_file" property="imageFile"/>
		<result column="quantity" property="quantity"/>
		<result column="total" property="total"/>	
	</resultMap>
	
	
<insert id="addToCart" parameterType="com.care.project.shop.CartDTO">
    INSERT INTO project_cart (no, id, product, company, pay, image_file, productId, quantity, total)
    VALUES (#{no}, #{id}, #{product}, #{company}, #{pay}, #{imageFile}, #{productId}, #{quantity}, #{total})
</insert>

	<select id="peoductCheck" resultMap="cartDto">
		SELECT * FROM project_cart WHERE product=#{product} AND #{id}
	</select>
	
		
	
</mapper>







  