<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.project.MemberMapper">
<resultMap type="com.care.project.member.MemberDTO" id="memberDto">
		<id column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="user_name" property="userName"/>
		<result column="address" property="address"/>
		<result column="mobile" property="mobile"/>
		<result column="pet_name" property="petName"/>
		<result column="pet_category" property="petCategory"/>
		<result column="pet_file" property="petFile"/>
	</resultMap>
	<select id="mloginProc" resultMap="memberDto">
		SELECT * FROM project_register WHERE id=#{id}
	</select>
	
	<insert id="registerProc" parameterType="com.care.project.member.MemberDTO">
		INSERT INTO project_register VALUES(#{id}, #{pw}, #{userName}, #{address}, #{mobile}, #{petName}, #{petCategory}, #{petFile})
	</insert>
	
	<select id="memberInfo" resultMap="memberDto">
		<choose>
			<when test="select == 'id'">
				SELECT AAA.* FROM 
				(SELECT ROWNUM() as rn, id, pw, userName, address, mobile, petName, petCategory, petFile
				FROM project_register WHERE id like CONCAT('%', #{search}, '%'))AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<when test="select == 'mobile'">
				SELECT AAA.* FROM 
				(SELECT ROWNUM() as rn, id, pw, userName, address, mobile, petName, petCategory, petFile 
				FROM project_register WHERE mobile like CONCAT('%', #{search}, '%'))AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<otherwise>
				SELECT AAA.* FROM 
				(SELECT ROWNUM() as rn, id, pw, userName, address, mobile, petName, petCategory, petFile  
				FROM project_register )AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</otherwise>
		</choose>
	</select>
	<update id="updateProc" parameterType="com.care.project.member.MemberDTO">
		UPDATE project_register 
		SET pw=#{pw}, user_name=#{userName}, address=#{address}, mobile=#{mobile} 
		WHERE id=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM project_register WHERE id=#{id}
	</delete>
	
</mapper>