@charset "UTF-8";

	.member {font-family: 'Poor Story';}
	.member a{text-decoration: none; color:black; position: relative;}
	.memberItem{width: 300px; height: 840px; border-right: 2px solid #000; float: left;
	text-align: center; padding-top:30px;}
	.memberItem h3{font-size: 26px; padding-bottom:30px; border-bottom: 2px solid #000;
	font-weight:bold;}
	.memberItem ul li{font-size: 22px; padding-top: 30px;}
	
	.header ul li:nth-child(1){font-size: 36px;}
	
	
	.memberMain{display: inline-block; width: 1500px; height: 600px; padding: 30px; text-align: center;}
	.memberTitle{height: 56px; border-bottom: 2px solid #000; }
	.memberTitle p{font-size: 24px; font-weight: bold; float: left; }
	.memberTitle ul{float:right;}
	.memberTitle ul li{display: inline-block; vertical-align: middle; padding-left: 10px;}
	
	.memberInfo{height: 650px;}
	.memberInfo table{margin:0 auto; font-size: 20px;}
	.memberInfo tr th:nth-child(1){width: 80px;}
	.memberInfo tr th:nth-child(4){width: 250px;}
	.memberInfo tr th:nth-child(5){width: 490px;}
	.memberInfo tr th:nth-child(8){width: 60px;}
	.memberInfo tr{border-bottom: 1px solid #000;}
	.memberInfo tr th{width: 170px; padding: 10px 0 10px 0;}
	.memberInfo tr td{padding: 10px 0 10px 0;}
	.memberInfo tr td:nth-child(8) input{display: inline-block; width: 20px; height: 20px;
	vertical-align: middle; margin:-10px 0 -5px 0;}
	.memberInfo h1{font-size: 22px; padding-top:20px;}
	
	.memberSearch{font-family: 'Poor Story'; font-size: 26px; }
	.memberSearch a{padding: 10px; display: inline-block;}
	
	.selectOption{vertical-align: middle; border: 2px solid #000; 
	height: 36px; width: 100px; font-family: 'Poor Story'; font-size: 18px;font-weight:bold;}
	.searchOption{border: 2px solid #000; border-right: 0;border-left: 0;  margin:-7px; height: 30px; width: 300px;font-family: 'Poor Story'; font-size: 18px;}
	.submitOption{vertical-align: middle; border: 2px solid #000; height: 36px; width: 100px;
	font-family: 'Poor Story'; font-size: 18px; background-color: #fcd11e;font-weight:bold;}
	.deleteOption{float: right; vertical-align: middle; border: 2px solid #000; height: 36px; width: 100px;
	font-family: 'Poor Story'; font-size: 18px; background-color: #fcd11e;font-weight:bold;
	margin-left: -100px;}
	
	.mainInfo{text-align: left; padding-top:20px; height: 670px;}
	
	.userInfo{float: left; width: 33%;}
	.userInfo p{font-size: 20px; padding-bottom: 10px;}
	.userInfo ul li{font-size: 20px; padding-bottom: 10px;}
	.userInfo ul li span{display: inline-block; width: 100px;}
	
	.userBoard{float: left; width: 33%; }
	.userBoard p{font-size: 20px; padding-bottom: 10px;}
	.userBoard ul li{font-size: 20px; padding-bottom: 10px;}
	.userBoard ul li span{display: inline-block; width: 100px;}
	
	.userPet{float: left; width: 33%;}
	.userPet p{font-size: 20px; padding-bottom: 10px;}
	.userPet ul li{font-size: 20px; padding-bottom: 10px;}
	.userPet ul li:first-child{float: left; padding-right: 10px;}
	.userPet ul li span{display: inline-block; width: 60px; }
	
	.memberButton{float: right;}
	.userPassword{font-size: 18px; background-color: #fcd11e; font-weight:bold; height: 36px; width: 160px;}
	.userDelete{font-size: 18px; background-color: #fcd11e; font-weight:bold; margin: 0 10px 0 10px; height: 36px; width: 100px;}
	.selectEnd{font-size: 18px; background-color: #fcd11e; font-weight:bold; height: 36px; width: 100px;}
	
	.memberSend{float: left; text-align: left; font-size: 22px; width: 100%; padding-left: 20px; padding-top: 20px;}
	.memberSend ul li {padding-bottom: 20px;}
	.memberSend ul li p{padding-top: 10px;}
	.memberSend ul li p textarea {padding-top: 10px; width: 95.5%; height: 150px; resize: none;}
	.memberSend ul li:nth-child(3) p{margin-left: 100px;}
	.memberSend ul li:nth-child(3) p textarea{width: 95.5%; height: 50px; resize: none;}
	.memberSend ul li span{display: inline-block; width: 100px;}
	.emailUser {margin-left: -5px; width: 89%; height: 20px;}
	.emailTitle {margin-left: -5px; width: 89%; height: 20px;}
	input[type=file]::file-selector-button{background-color: #fcd11e; font-weight:bold; height: 26px; width: 80px;}
	.submitSend{background-color: #fcd11e; font-weight:bold; height: 36px; width: 100px;}
	.memberSend ul li:last-child{text-align: center;font-size: 18px; }
	
	.idOption {margin-top: 40px; border: 0; height: 30px; width: 300px; font-family: 'Poor Story'; font-size: 22px;}
	.passwordOption {margin: 40px 0 40px 0; border: 2px solid #000; height: 30px; width: 300px; font-family: 'Poor Story'; font-size: 22px;}
	.memberInfo p span{font-size: 22px; width: 150px; display: inline-block;}