<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.project.aboard.BoardMapper">
	<resultMap type="com.care.project.aboard.BoardDTO" id="boardDto">
		<id column="no" property="no"/>
		<result column="id" property="id"/>
		<result column="no" property="no"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="file_name" property="fileName"/>
		<result column="write_date" property="writeDate"/>
		<result column="hits" property="hits"/>
		<result column="likes" property="likes"/>
		<result column="board_name" property="boardName"/>
		<result column="comment_id" property="commentId"/>
		<result column="comment_content" property="commentContent"/>
	</resultMap>
	
	<select id="boardData" resultMap="boardDto">
		<choose>
			<when test="select == 'boardName'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, id, no, title, content, file_name, write_date
				, hits, likes, board_name FROM project_board WHERE board_name like ('%' ||  #{search} || '%'))AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<when test="select == 'title'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, id, no, title, content, file_name, write_date
				, hits, likes, board_name FROM project_board WHERE title like ('%' ||  #{search} || '%'))AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<when test="select == 'id'">
				SELECT AAA.* FROM 
				(SELECT rownum as rn, id, no, title, content, file_name, write_date
				, hits, likes, board_name FROM project_board WHERE id like ('%' ||  #{search} || '%'))AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</when>
			<otherwise>
				SELECT AAA.* FROM 
				(SELECT rownum as rn, id, no, title, content, file_name, write_date
				, hits, likes, board_name FROM project_board WHERE board_name like ('%' ||  #{search} || '%') or
				title like ('%' ||  #{search} || '%') or id like ('%' ||  #{search} || '%'))AAA 
				WHERE AAA.rn BETWEEN #{begin} AND #{end}
			</otherwise>
		</choose>
	</select>
	
	<select id="count">
		<choose>
	  		<when test="select == 'boardName'">
	  			SELECT count(id) FROM project_board WHERE board_name like ('%' ||  #{search} || '%')
	  		</when>
	  		<when test="select == 'title'">
	  			SELECT count(id) FROM project_board WHERE title like ('%' ||  #{search} || '%')
	  		</when>
	  		<when test="select == 'id'">
	  			SELECT count(id) FROM project_board WHERE id like ('%' ||  #{search} || '%')
	  		</when>
	  		<otherwise>
	  			SELECT count(id) FROM project_board WHERE board_name like ('%' ||  #{search} || '%') or
	  			title like ('%' ||  #{search} || '%') or id like ('%' ||  #{search} || '%')
	  		</otherwise>
		</choose>
	</select>
	
	<select id="aboardInfo" resultMap="boardDto">
		SELECT * FROM project_board WHERE id=#{id} AND board_name=#{boardName} AND no=#{no}
	</select>
	
	<select id="aboardComment" resultMap="boardDto">
		SELECT * FROM project_board_comment WHERE id=#{id} AND board_name=#{boardName} AND no=#{no}
	</select>
		
	<delete id="memberDelete">
		DELETE FROM project_board WHERE id=#{id} AND board_name=#{boardName} AND no=#{no}
	</delete>	
		
</mapper>