@charset "UTF-8";

.register {margin-top: 100px; margin-bottom: 100px;}
.register h1,
.register h4{font-family: 'Poor Story', cursive;}
.register form input{margin-bottom: 10px; background-color: #FFEDA1; border: none; margin-left: 10px; width: 190px; height: 30px; padding-left: 10px;}
.register form select {font-family: 'Poor Story', cursive; margin-bottom: 10px; background-color: #FFEDA1; border: none; margin-left: 10px;}
.register form h5 {font-family: 'Poor Story', cursive; padding-left: 10px;}
